{%   extends 'layout.html'   %}

{%   load static   %}

{%   block body   %}

<main class="main">

  <!-- Page Title -->
  <div class="page-title light-background">
    <div class="container">
      <h1>About Me</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="/">Home</a></li>
          <li class="current">About</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- About 2 Section -->
  <section id="about-2" class="about-2 section">

    <div class="container">
      <div class="content">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-5 col-lg-4 col-xl-4 order-lg-2 offset-xl-1 mb-4">
            <div class="img-wrap text-center text-md-left" data-aos="fade-up" data-aos-delay="100">
              <div class="img">
                <img src="{%   static 'assets/img/shutter-speed.jpg'   %}" alt="circle image" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="offset-md-0 offset-lg-1 col-sm-12 col-md-5 col-lg-5 col-xl-4" data-aos="fade-up">
            <div class="px-3">
              <span class="content-subtitle">My Mission</span>
              <h2 class="content-title text-start">
                The intersection between data, tech and music!
              </h2>
              <p class="lead">
                I aim to leverage my talent in math to get extremely good in machine learning and find the intersection between that
                and music. In simple terms I would like to be a machine learning engineer at a music tech company, specifically Spotify!
                Inshallah!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /About 2 Section -->

  <!-- Services Section -->
  <section id="services" class="services section light-background">

    <div class="container">
      <div class="row gy-4 justify-content-center">

        <div class="col-lg-3">
          <div class="services-item" data-aos="fade-up">
            <div class="services-icon">
              <i class="bi bi-bullseye"></i>
            </div>
            <div>
              <h3>Data Science</h3>
              <p>Comprizes the delicate art of statistics and technology.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="services-item" data-aos="fade-up" data-aos-delay="100">
            <div class="services-icon">
              <i class="bi bi-command"></i>
            </div>
            <div>
              <h3>Machine Learning</h3>
              <p>Contained in the vast world of AI. Specifically interested in Reinforced Learning.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="services-item" data-aos="fade-up" data-aos-delay="200">
            <div class="services-icon">
              <i class="bi bi-bar-chart"></i>
            </div>
            <div>
              <h3>Data Engineering</h3>
              <p>Involves the ETL process that is, extraction, transformation and loading of data into databases e.t.c</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="services-item" data-aos="fade-up" data-aos-delay="200">
            <div class="services-icon">
              <i class="bi bi-chevron-left"></i>
            </div>
            <div>
              <h3>Web Development</h3>
              <p>Interested in python, django. Wanna challenge my logical thinking!</p>
            </div>
         </div>
       </div>
  </section><!-- /Services Section -->

  <!-- Stats Section -->
  <section id="stats" class="stats section light-background">

    <div class="container">

      <div class="row gy-4 justify-content-center">

        <div class="col-lg-5">
          <div class="images-overlap">
            <img src="{%   static 'assets/img/img_v_1.jpg'   %}" alt="student" class="img-fluid img-1" data-aos="fade-up">
          </div>
        </div>

        <div class="col-lg-4 ps-lg-5">
          <span class="content-subtitle">Path to greatness</span>
          <h2 class="content-title">The 10,000 Hour Rule</h2>
          <p class="lead">
            I aim to clock my 10,000 hours of practice aimed towards getting better at my craft. Doing that in a valid environment, with many repetitions, timely feedback and deliberate practice,
            I will surely get to where I want
          </p>
          <div class="row mb-5 count-numbers">

            <!-- Start Stats Item -->
            <div class="col-4 counter" data-aos="fade-up" data-aos-delay="100">
              <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="2699" data-purecounter-duration="1" class="purecounter number"></span>
              <span class="d-block">Coffees</span>
            </div>
            <!-- End Stats Item -->

            <!-- Start Stats Item -->
            <div class="col-4 counter" data-aos="fade-up" data-aos-delay="200">
              <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="10001" data-purecounter-duration="1" class="purecounter number"></span>
              <span class="d-block">Codes</span>
            </div>
            <!-- End Stats Item -->

            <!-- Start Stats Item -->
            <div class="col-4 counter" data-aos="fade-up" data-aos-delay="300">
              <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter number"></span>
              <span class="d-block">Projects</span>
            </div>
            <!-- End Stats Item -->

          </div>
        </div>

      </div>

    </div>
  </section><!-- /Stats Section -->

</main>

{%   endblock   %}

