{%   extends 'layout.html'   %}

{%   load static   %}

{%   block body   %}

<main class="main">

  <!-- Page Title -->
  <div class="page-title light-background">
    <div class="container">
      <h1>Services Offered</h1>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="/">Home</a></li>
          <li class="current">Services</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->

  <!-- Services 2 Section -->
  <section id="services-2" class="services-2 section">

    <div class="container">
      <div class="row justify-content-center" data-aos="fade-up">
        <div class="col-md-6 col-lg-4">
          <span class="content-subtitle">Our Services</span>
          <h2 class="content-title">
            Somewhere deep inside the vast amounts of data, statistical magic happens.
          </h2>
          <p class="lead">
            Deep inside the world of data, statistics and computing we are able to uncover insights. These insights are revealed
            from the recurring patterns we are able to uncover. Patterns uncover anything in the world, enabling us to discover literally anything!
          </p>
          <p class="mb-5">
            Uncovering the patterns is not enough in our world. We also need to interpret our findings as well as explain them to stakeholders who don't 
            need to know of all the technical workings. 
          </p>
          <p>
            <a href="#" class="btn btn-outline-success">Get Started</a>
          </p>
        </div>
        <div class="col-md-6 col-lg-6 ps-lg-5">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
              <div class="services-item" data-aos="fade-up" data-aos-delay="">
                <div class="services-icon">
                  <i class="bi bi-search"></i>
                </div>
                <div>
                  <h3>Data Storytelling</h3>
                  <p>This enables us to convey our findings to stakeholders, including those that may not be so technical</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
              <div class="services-item" data-aos="fade-up" data-aos-delay="100">
                <div class="services-icon">
                  <i class="bi bi-command"></i>
                </div>
                <div>
                  <h3>Technology</h3>
                  <p>We integrate the technological world to help us build machine learning models that help in prediction and forecasting</p>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
              <div class="services-item" data-aos="fade-up" data-aos-delay="200">
                <div class="services-icon">
                  <i class="bi bi-grid"></i>
                </div>
                <div>
                  <h3>Problem Solving</h3>
                  <p>We approach problems from the business perspective and come up with well laid out execution-ready solutions</p>
                </div>
              </div>
            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
              <div class="services-item" data-aos="fade-up" data-aos-delay="300">
                <div class="services-icon">
                  <i class="bi bi-globe"></i>
                </div>
                <div>
                  <h3>Research</h3>
                  <p>We do extensive research to help us make the best conclusions, which makes us outstanding</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /Services 2 Section -->

  <!-- Services Section -->
  <section id="services" class="services section light-background">

    <div class="container">
      <div class="row gy-4 justify-content-center">

        <div class="col-lg-3">
          <div class="services-item" data-aos="fade-up">
            <div class="services-icon">
              <i class="bi bi-bullseye"></i>
            </div>
            <div>
              <h3>Data Science</h3>
              <p>Comprizes the delicate art of statistics and technology.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="services-item" data-aos="fade-up" data-aos-delay="100">
            <div class="services-icon">
              <i class="bi bi-command"></i>
            </div>
            <div>
              <h3>Machine Learning</h3>
              <p>Contained in the vast world of AI. Specifically interested in Reinforced Learning.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="services-item" data-aos="fade-up" data-aos-delay="200">
            <div class="services-icon">
              <i class="bi bi-bar-chart"></i>
            </div>
            <div>
              <h3>Data Engineering</h3>
              <p>Involves the ETL process that is, extraction, transformation and loading of data into databases e.t.c</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="services-item" data-aos="fade-up" data-aos-delay="200">
            <div class="services-icon">
              <i class="bi bi-chevron-left"></i>
            </div>
            <div>
              <h3>Web Development</h3>
              <p>Interested in python, django. Wanna challenge my logical thinking!</p>
            </div>
         </div>
       </div>
  </section><!-- /Services Section -->

</main>

{%   endblock   %}

